{# Load Content From Joomla #}
{% set article_settings = particle.article %}
{% set filter = article_settings.filter %}
{% set sort = article_settings.sort %}
{% set limit = article_settings.limit %}
{% set display = article_settings.display %}

{# Category Finder #}
{% set category_options = filter.categories ? {
    id: [
        filter.categories | split(','),
        0
    ]
} : {} %}
{% set categories = joomla.finder('category', category_options).published(1).language().limit(0).find() %}

{# Content Finder #}
{% if filter.articles %}
    {% set article_options = filter.articles ? {
        id: [filter.articles | replace(' ', '') | split(',')]
    } : {} %}
    {% set article_finder = joomla.finder('content', article_options).published(1).language() %}
{% else %}
    {% set article_finder = joomla.finder('content').category(categories).published(1).language() %}
{% endif %}

{% set featured = filter.featured | default('include') %}
{% if featured == 'exclude' %}
    {% do article_finder.featured(false) %}
{% elseif featured == 'only' %}
    {% do article_finder.featured(true) %}
{% endif %}

{% do article_finder.order(sort.orderby, sort.ordering).limit(limit.total).start(limit.start) %}
{% set total = article_finder.count() %}
{% set articles = article_finder.find() %}

<div class="etl-repogridtab-header">
    {% if particle.navtitle %}
        <div class="etl-repogridtab-title">
            {% if particle.uppertitle %}
                <span class="etl-repogridtab-uppertitle">{{ particle.uppertitle|raw }}</span>
            {% endif %}
            {{ particle.navtitle }}
        </div>
    {% endif %}

    <div class="etl-repogridtab-nav">
        <div class="etl-repogridtab-nav-container">
            <i aria-hidden="true" class="fa fa-bars"></i>
            {% if particle.allitems %}
                <div class="etl-repogridtab-nav-item {% if particle.selected == 'all' %}selected{% endif %}" data-group="all">
                    {{ particle.allitems|default('All items')|e }}
                </div>
            {% endif %}
            {% for item in categories %}
                <div class="etl-repogridtab-nav-item {% if particle.selected == 'first' %}{% if loop.first %}selected{% endif %}{% endif %}" data-group="{{ item.id }}">
                    {{ item.title }}
                </div>
            {% endfor %}
        </div>
    </div>
</div>

<div class="etl-contenttabs-repo {% if particle.jimagecenter %} etl-imagefull-bloc{% endif %}">
 <div class="etl-repogridtab-grid gridshuffle {{ particle.catcolsjoomla }}">
 <div class="etl-repogridtab-grid-sizer"></div>
    {% for article in articles %}
        {% if display.image.enabled and article.images.image_intro or article.images.image_fulltext %}
            {% if article.images.image_intro and display.image.enabled == 'intro' %}
                {% set article_image = article.images.image_intro %}
                {% set article_image_alt = article.images.image_intro_alt %}
            {% elseif article.images.image_fulltext and display.image.enabled == 'full' %}
                {% set article_image = article.images.image_fulltext %}
                {% set article_image_alt = article.images.image_fulltext_alt %}
            {% endif %}
        {% endif %}
        {% set cat = article.categories|last %}
        <div class="etl-repogridtab-grid-item g-block" data-groups='["{{ cat.id }}"]'>
            <div class="etl-repogridtab-grid-item-wrapper">

                {% if display.image.enabled %}
                    <div class="etl-repogridtab-grid-item-image">
                        {% if article_image %}
                            <img src="{{ url(article_image)|e }}" alt="{{ article.title }}"/>
                        {% endif %}
                    </div>
                {% endif %}

                <div class="etl-repogridtab-grid-item-content">
                    <div class="etl-repogridtab-grid-item-header">
                        <div class="etl-repogridtab-grid-item-category">
                            <span>{{ cat.title }}</span>
                        </div>
                        {% if display.date.enabled %}
                            <div class="etl-repogridtab-grid-item-date">
                                {% if display.date.enabled == 'published' %}
                                    {{ article.publish_up|date(particle.date_format) }}
                                {% elseif display.date.enabled == 'modified' %}
                                    {{ article.modified|date(particle.date_format) }}
                                {% else %}
                                    {{ article.created|date(particle.date_format) }}
                                {% endif %}
                            </div>
                        {% endif %}
                    </div>
                    {% if display.title.enabled and article.title %}
                        <div class="etl-repogridtab-grid-item-title">
                            <span>{{ display.title.limit ? article.title|truncate_text(display.title.limit) : article.title }}</span>
                        </div>
                    {% endif %}
                    {% if article.created_by_alias %}
                        <div class="etl-repogridtab-grid-item-author">
                            {{ article.created_by_alias|raw }}
                        </div>
                    {% endif %}
                    {% set article_text = display.text.type == 'intro' ? article.introtext: article.text %}
                    <div class="etl-repogridtab-grid-item-description">
                        {% if display.text.formatting == 'text' %}
                            {{ article_text|truncate_text(display.text.limit)|raw }}
								{% if display.read_more.layout == '_texte' %}{% if display.read_more.enabled %}
									<a href="{{ article.route|e }}" target="{{ display.read_more.target|default('_self')|e }}" class="animated-arrow">
										<span class="the-arrow -left"><span class="shaft"></span></span><span class="mainarrow"><span class="textarrow">
										{{ particle.jreadmorelabel|raw }}
										</span><span class="the-arrow -right"><span class="shaft"></span></span></span>
									</a>
								{% endif %}{% endif %}
                        {% else %}
                            {{ article_text|truncate_html(display.text.limit)|raw }}
								{% if display.read_more.layout == '_texte' %}{% if display.read_more.enabled %}
										<a href="{{ article.route|e }}" target="{{ display.read_more.target|default('_self')|e }}" class="animated-arrow">
											<span class="the-arrow -left"><span class="shaft"></span></span><span class="mainarrow"><span class="textarrow">
											{{ particle.jreadmorelabel|raw }}
											</span><span class="the-arrow -right"><span class="shaft"></span></span></span>
										</a>
								{% endif %}{% endif %}
                        {% endif %}
                    </div>

					{% if display.read_more.layout == '_button' %}{% if display.read_more.enabled %}
						<div class="etl-repogridtab-grid-item-link">
							<a href="{{ article.route|e }}" target="{{ display.read_more.target|default('_self')|e }}" class="{{ display.read_more.btclass|e }}">
								{{ particle.jreadmorelabel|raw }}
							</a>
						</div>
					{% endif %}{% endif %}

                </div>
			{% if display.read_more.layout == '_block' %}
                {% if display.read_more.enabled %}
                    <a href="{{ article.route|e }}" target="{{ display.read_more.target|default('_self')|e }}" class="etl-repogridtab-grid-item-link-overlay"><span>{{ particle.jreadmorelabel|raw }}</span></a>
                {% endif %}
			{% endif %}
            </div>
        </div>
    {% endfor %}
</div>
</div>

